fastapi==0.115.6
uvicorn
sqlalchemy==2.0.36
asyncpg==0.30.0
google-genai
boto3
pydantic-settings
pillow
reportlab
python-multipart
tenacity
alembic
redis>=5.0.0
aioredis>=2.0.0
psycopg2-binary
starlette==0.41.3
pydantic==2.10.2
